mixin post( hash, photo, title, description, dateCreate, login, name )
    div
        a(class="item" href=`/post/hash=${hash}`)
            img(src=photo, alt="")
            div(class="content")
                span(class="title")=title
                p(class="description")=description
                a(href="/awd" class="data-about-post") 
                    span(class="date")=dateCreate
                <br>
                a(href="/awd" class="data-about-post")
                    span(class="author")=login
                <br>
                a(href="/awd" class="data-about-post")
                    span(class="category")=name
            div(class="followPost")
                span Discover