extends ../layouts/basik.pug
include ../mixin/comment.pug

block header
    include ../includes/header.pug

block main
    section(class="post")
        div(class="container") 
            div(class="content")
                img(class="main-img" src=data.postData.postD.photo, alt="")
                span(class="date")=data.postData.postD.dateCreate
                h1(class="title-post")=data.postData.postD.title
                div(class="text")=data.postData.postD.description
                hr(class="hr")
                div(class="author")
                    h3 Author 
                    div(class="content")
                        //- img(src="/img/1.jpg", alt="")
                        h5=data.postData.login 
                            span=data.postData.postD.dateRegistration
                hr(class="hr")
            div(class="write-comments")
                div(class="form-group")
                    textarea(placeholder="Text" id="text")
                div(class="form-group" )
                    button(id="send-comment" data-postHash=data.postData.postD.hash) Post comment
            div(class="comments")
                h4(class="count-comments") 2 Comments
                for comment in data.postData.commet
                    div(class="item")
                        div(class="content-comment")
                            h5=comment.login
                                span(class="date")=comment.date
                            p=comment.text
                